In [1]:
import pandas as pd
import openpyxl
import glob
import os
import math

## Data Input

In [14]:
file_idx = 6
file_names = glob.glob('../Results/*/*.xlsx', recursive=True)
file_names

['../Results/BN_MR_A_M_T_G/BN_MR_Ag_Mr_Ti_Ge_inve.xlsx',
 '../Results/BN_MR_A_M_T_G/BN_MR_Ag_Mr_Ti_Ge01.xlsx',
 '../Results/BN_MR_A_M_T_G/BN_MR_Ag_Mr_Ti_Ge.xlsx',
 '../Results/BN_MR_A_M_S_T_G/BN_MR_Ag_Mr_Sb_Ti_Ge.xlsx',
 '../Results/BN_MR_A_S_T_G/BN_MR_Ag_Sb_Ti_Ge.xlsx',
 '../Results/BN_MR_A_S_T_G/BN_MR_Ag_Sb_Ti_Ge01.xlsx',
 '../Results/BN_MR_A_S_T_G/BN_MR_Ag_Sb_Ti_Ge_inve.xlsx']

In [15]:
df = pd.read_excel('../BNA_subregions.xlsx')
df

,Lobe,Gyrus,Left and Right Hemisphere,Label ID.L,Label ID.R,Unnamed: 5,Anatomical and modified Cyto-architectonic descriptions,"lh.MNI(X,Y,Z)","rh.MNI(X,Y,Z)"
0,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_1,1,2,"A8m, medial area 8",NaN,"-5 ,15, 54","7, 16, 54"
1,NaN,NaN,SFG_L(R)_7_2,3,4,"A8dl, dorsolateral area 8",NaN,"-18, 24, 53","22, 26, 51"
2,NaN,NaN,SFG_L(R)_7_3,5,6,"A9l, lateral area 9",NaN,"-11, 49, 40","13, 48, 40"
3,NaN,NaN,SFG_L(R)_7_4,7,8,"A6dl, dorsolateral area 6",NaN,"-18, -1, 65","20, 4, 64"
4,NaN,NaN,SFG_L(R)_7_5,9,10,"A6m, medial area 6",NaN,"-6, -5, 58","7, -4, 60"
...,...,...,...,...,...,...,...,...,...
118,NaN,NaN,Tha_L(R)_8_4,237,238,"rTtha, rostral temporal thalamus",NaN,"-7, -14, 7","3, -13, 5"
119,NaN,NaN,Tha_L(R)_8_5,239,240,"PPtha, posterior parietal thalamus",NaN,"-16, -24, 6","15, -25, 6"
120,NaN,NaN,Tha_L(R)_8_6,241,242,"Otha, occipital thalamus",NaN,"-15, -28, 4","13, -27, 8"
121,NaN,NaN,Tha_L(R)_8_7,243,244,"cTtha, caudal temporal thalamus",NaN,"-12, -22, 13","10, -14, 14"
122,NaN,NaN,Tha_L(R)_8_8,245,246,"lPFtha, lateral pre-frontal thalamus",NaN,"-11, -14, 2","13, -16, 7"

In [16]:
df2 = pd.read_excel(file_names[file_idx])
df2 = df2.assign(Lobe=0, Gyrus=0, BA=0)
df2

,"unknown (P<0.05, uncorrected):",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Lobe,Gyrus,BA
0,P-value,contrast,T-value,Ze-value,BN_Atlas_246_2mm,0,0,0
1,0.00259125,,3.06339,2.79547,OI090,0,0,0
2,0.00617724,,2.69662,2.50185,OI152,0,0,0
3,0.007923,,2.58819,2.41244,OI094,0,0,0
4,0.0231075,,2.09759,1.99342,OI002,0,0,0
5,0.0238235,,2.08288,1.9805,OI110,0,0,0
6,0.033308,,1.9179,1.83426,OI079,0,0,0
7,0.0343245,,1.90277,1.82072,OI071,0,0,0
8,0.0428337,,1.78944,1.71871,OI012,0,0,0
9,0.0463994,,1.74765,1.68082,OI029,0,0,0
10,0.0495904,,1.71251,1.64884,OI176,0,0,0
11,----------------------------------------------...,NaN,NaN,NaN,NaN,0,0,0
12,0.0240173,inverse,-2.07897,-1.97706,OI214,0,0,0
13,0.0270931,inverse,-2.02033,-1.92535,OI128,0,0,0
14,0.0329957,inverse,-1.92263,-1.83848,OI202,0,0,0

## Data Reshape
結合セルの空の部分を埋める

In [17]:
df["Lobe"] = pd.Series(df["Lobe"]).fillna(method="ffill")
df["Gyrus"] = pd.Series(df["Gyrus"]).fillna(method="ffill")
df = df.rename(columns={'Unnamed: 5': 'BA'})
df

,Lobe,Gyrus,Left and Right Hemisphere,Label ID.L,Label ID.R,BA,Anatomical and modified Cyto-architectonic descriptions,"lh.MNI(X,Y,Z)","rh.MNI(X,Y,Z)"
0,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_1,1,2,"A8m, medial area 8",NaN,"-5 ,15, 54","7, 16, 54"
1,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_2,3,4,"A8dl, dorsolateral area 8",NaN,"-18, 24, 53","22, 26, 51"
2,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_3,5,6,"A9l, lateral area 9",NaN,"-11, 49, 40","13, 48, 40"
3,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_4,7,8,"A6dl, dorsolateral area 6",NaN,"-18, -1, 65","20, 4, 64"
4,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_5,9,10,"A6m, medial area 6",NaN,"-6, -5, 58","7, -4, 60"
...,...,...,...,...,...,...,...,...,...
118,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_4,237,238,"rTtha, rostral temporal thalamus",NaN,"-7, -14, 7","3, -13, 5"
119,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_5,239,240,"PPtha, posterior parietal thalamus",NaN,"-16, -24, 6","15, -25, 6"
120,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_6,241,242,"Otha, occipital thalamus",NaN,"-15, -28, 4","13, -27, 8"
121,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_7,243,244,"cTtha, caudal temporal thalamus",NaN,"-12, -22, 13","10, -14, 14"
122,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_8,245,246,"lPFtha, lateral pre-frontal thalamus",NaN,"-11, -14, 2","13, -16, 7"

## Correspond BN and BA

In [18]:
##extract BN ROI number
# with inverse...4 witout...3
BN_names = df2.iloc[:,4]
BN_names = BN_names.drop(BN_names.index[[0]])
BN_names
BN_nums = BN_names.str[-3:]
BN_nums

1     090
2     152
3     094
4     002
5     110
6     079
7     071
8     012
9     029
10    176
11    NaN
12    214
13    128
14    202
Name: Unnamed: 4, dtype: object

In [19]:
# correspond BN and BA
i = 1
for BN_num in BN_nums:
    if not pd.isnull(BN_num):
        BA_name = df.loc[(df['Label ID.L'] == int(BN_num)) | (df['Label ID.R'] == int(BN_num))]
        BA_name = BA_name.loc[:,['Lobe', 'Gyrus', 'BA']]

        df2.iloc[i,-3:] = BA_name.iloc[0,:]
    i = i+1

df2

,"unknown (P<0.05, uncorrected):",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Lobe,Gyrus,BA
0,P-value,contrast,T-value,Ze-value,BN_Atlas_246_2mm,0,0,0
1,0.00259125,,3.06339,2.79547,OI090,Temporal Lobe,"ITG, Inferior Temporal Gyrus","A20iv, intermediate ventral area 20"
2,0.00617724,,2.69662,2.50185,OI152,Parietal Lobe,"Pcun, Precuneus","dmPOS, dorsomedial parietooccipital sulcus(PEr)"
3,0.007923,,2.58819,2.41244,OI094,Temporal Lobe,"ITG, Inferior Temporal Gyrus","A20r, rostral area 20"
4,0.0231075,,2.09759,1.99342,OI002,Frontal Lobe,"SFG, Superior Frontal Gyrus","A8m, medial area 8"
5,0.0238235,,2.08288,1.9805,OI110,Temporal Lobe,"PhG, Parahippocampal Gyrus","A35/36r, rostral area 35/36"
6,0.033308,,1.9179,1.83426,OI079,Temporal Lobe,"STG, Superior Temporal Gyrus","A22r, rostral area 22"
7,0.0343245,,1.90277,1.82072,OI071,Temporal Lobe,"STG, Superior Temporal Gyrus","A41/42, area 41/42"
8,0.0428337,,1.78944,1.71871,OI012,Frontal Lobe,"SFG, Superior Frontal Gyrus","A9m,medial area 9"
9,0.0463994,,1.74765,1.68082,OI029,Frontal Lobe,"IFG, Inferior Frontal Gyrus","A44d,dorsal area 44"
10,0.0495904,,1.71251,1.64884,OI176,Limbic Lobe,"CG, Cingulate Gyrus","A23d, dorsal area 23"
11,----------------------------------------------...,NaN,NaN,NaN,NaN,0,0,0
12,0.0240173,inverse,-2.07897,-1.97706,OI214,Subcortical Nuclei,"Amyg, Amygdala","lAmyg, lateral amygdala"
13,0.0270931,inverse,-2.02033,-1.92535,OI128,Parietal Lobe,"SPL, Superior Parietal Lobule","A7c, caudal area 7"
14,0.0329957,inverse,-1.92263,-1.83848,OI202,Occipital Lobe,"LOcC, lateral Occipital Cortex","V5/MT+, area V5/MT+"

## Output Excel

In [20]:
save_dir = '../corresponded'
os.makedirs(save_dir, exist_ok=True)

tmp = pd.ExcelFile(file_names[file_idx])

df2.to_excel(save_dir+'/c'+file_names[file_idx].split('/')[-1], sheet_name=tmp.sheet_names[0])

In [21]:
tmp.sheet_names

['Sheet1']