In [124]:
import pandas as pd
import openpyxl
import glob

from openpyxl.utils import range_boundaries

## Data Input

In [19]:
file_names = glob.glob('../Results/*/*.xlsx', recursive=True)
file_names

['../Results/BN_MR_A_M_T_G/BN_MR_Ag_Mr_Ti_Ge.xlsx',
 '../Results/BN_MR_A_M_S_T_G/BN_MR_Ag_Mr_Sb_Ti_Ge.xlsx',
 '../Results/BN_MR_A_S_T_G/BN_MR_Ag_Sb_Ti_Ge.xlsx']

In [119]:
df = pd.read_excel('../BNA_subregions.xlsx')
df

,Lobe,Gyrus,Left and Right Hemisphere,Label ID.L,Label ID.R,Unnamed: 5,Anatomical and modified Cyto-architectonic descriptions,"lh.MNI(X,Y,Z)","rh.MNI(X,Y,Z)"
0,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_1,1,2,"A8m, medial area 8",NaN,"-5 ,15, 54","7, 16, 54"
1,NaN,NaN,SFG_L(R)_7_2,3,4,"A8dl, dorsolateral area 8",NaN,"-18, 24, 53","22, 26, 51"
2,NaN,NaN,SFG_L(R)_7_3,5,6,"A9l, lateral area 9",NaN,"-11, 49, 40","13, 48, 40"
3,NaN,NaN,SFG_L(R)_7_4,7,8,"A6dl, dorsolateral area 6",NaN,"-18, -1, 65","20, 4, 64"
4,NaN,NaN,SFG_L(R)_7_5,9,10,"A6m, medial area 6",NaN,"-6, -5, 58","7, -4, 60"
...,...,...,...,...,...,...,...,...,...
118,NaN,NaN,Tha_L(R)_8_4,237,238,"rTtha, rostral temporal thalamus",NaN,"-7, -14, 7","3, -13, 5"
119,NaN,NaN,Tha_L(R)_8_5,239,240,"PPtha, posterior parietal thalamus",NaN,"-16, -24, 6","15, -25, 6"
120,NaN,NaN,Tha_L(R)_8_6,241,242,"Otha, occipital thalamus",NaN,"-15, -28, 4","13, -27, 8"
121,NaN,NaN,Tha_L(R)_8_7,243,244,"cTtha, caudal temporal thalamus",NaN,"-12, -22, 13","10, -14, 14"
122,NaN,NaN,Tha_L(R)_8_8,245,246,"lPFtha, lateral pre-frontal thalamus",NaN,"-11, -14, 2","13, -16, 7"

In [126]:
df2 = pd.read_excel(file_names[0])
df2

   unknown (P<0.05, uncorrected): Unnamed: 1 Unnamed: 2        Unnamed: 3
0                         P-value    T-value   Ze-value  BN_Atlas_246_2mm
1                      0.00370932    2.91389    2.67744             OI110
2                      0.00509464    2.77943    2.56934             OI090
3                      0.00618133    2.69633    2.50162             OI002
4                      0.00845613    2.55953    2.38861             OI125
5                      0.00932015    2.51646    2.35265             OI012
6                      0.00954551    2.50584    2.34375             OI079
7                       0.0130413    2.36531    2.22498             OI133
8                       0.0150014    2.30109    2.17005             OI037
9                       0.0174267    2.23146    2.11006             OI173
10                        0.01746    2.23056    2.10928             OI152
11                      0.0220463    2.12016    2.01321             OI126
12                      0.0278498    2.00681    1.91338             OI094
13                      0.0311562     1.9513    1.86407             OI171
14                      0.0319975    1.93801    1.85221             OI228
15                      0.0336046    1.91344    1.83027             OI167
16                      0.0388643    1.83962    1.76402             OI083
17                      0.0394458      1.832    1.75715             OI073
18                      0.0408712    1.81372    1.74066             OI172
19                      0.0411263    1.81051    1.73776             OI132
20                      0.0417243    1.80305    1.73102             OI038
21                      0.0428084    1.78974    1.71899             OI104
22                      0.0489412     1.7195    1.65521             OI168

## Data Reshape
結合セルの空の部分を埋める

In [116]:
df["Lobe"] = pd.Series(df["Lobe"]).fillna(method="ffill")
df["Gyrus"] = pd.Series(df["Gyrus"]).fillna(method="ffill")
df

,Lobe,Gyrus,Left and Right Hemisphere,Label ID.L,Label ID.R,Unnamed: 5,Anatomical and modified Cyto-architectonic descriptions,"lh.MNI(X,Y,Z)","rh.MNI(X,Y,Z)"
0,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_1,1,2,"A8m, medial area 8",NaN,"-5 ,15, 54","7, 16, 54"
1,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_2,3,4,"A8dl, dorsolateral area 8",NaN,"-18, 24, 53","22, 26, 51"
2,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_3,5,6,"A9l, lateral area 9",NaN,"-11, 49, 40","13, 48, 40"
3,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_4,7,8,"A6dl, dorsolateral area 6",NaN,"-18, -1, 65","20, 4, 64"
4,Frontal Lobe,"SFG, Superior Frontal Gyrus",SFG_L(R)_7_5,9,10,"A6m, medial area 6",NaN,"-6, -5, 58","7, -4, 60"
...,...,...,...,...,...,...,...,...,...
118,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_4,237,238,"rTtha, rostral temporal thalamus",NaN,"-7, -14, 7","3, -13, 5"
119,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_5,239,240,"PPtha, posterior parietal thalamus",NaN,"-16, -24, 6","15, -25, 6"
120,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_6,241,242,"Otha, occipital thalamus",NaN,"-15, -28, 4","13, -27, 8"
121,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_7,243,244,"cTtha, caudal temporal thalamus",NaN,"-12, -22, 13","10, -14, 14"
122,Subcortical Nuclei,"Tha, Thalamus",Tha_L(R)_8_8,245,246,"lPFtha, lateral pre-frontal thalamus",NaN,"-11, -14, 2","13, -16, 7"

## Correspond BN and BA

In [132]:
##extract BN ROI number
BN_names = df2.iloc[:,3]
BN_names = BN_names.drop(BN_names.index[[0]])

BN_nums = BN_names.str[-3:]
BN_nums

1     110
2     090
3     002
4     125
5     012
6     079
7     133
8     037
9     173
10    152
11    126
12    094
13    171
14    228
15    167
16    083
17    073
18    172
19    132
20    038
21    104
22    168
Name: Unnamed: 3, dtype: object