## Calculate effect size

参考: https://mizumot.com/files/EffectSize_KELES31.pdf

重回帰モデルの偏相関係数に対する個別の検定(t検定) <br>
t検定に対する効果量$r$
$$ r = \sqrt{\frac{t^2}{t^2 + df}} $$

$t$: t値 <br>
$df$: 自由度(サンプル数 - 推定するパラメータ数)

In [2]:
import pandas as pd
import openpyxl
import glob
import os

### Input Data

ファイル名の意味 <br>
\[atlas\]\_[model\]_\[covariates\].xlsx

例　BN_MR_Ag_Mr_Sb_Ti_Ge.xlsx <br>
- BN: BrainNetome
- MR: Multiple Regression
- Ag: age, Mr: MRI_performance, Sb: subCategory_performance, Ti: TIV, Ge: Gender

In [36]:
# optional
file_idx = 0

file_names = glob.glob('../Results/*/*.xlsx', recursive=True)
file_names

['../Results/BN_MR_A_M_T_G/BN_MR_Ag_Mr_Ti_Ge.xlsx',
 '../Results/BN_MR_A_M_S_T_G/BN_MR_Ag_Mr_Sb_Ti_Ge.xlsx',
 '../Results/BN_MR_A_S_T_G/BN_MR_Ag_Sb_Ti_Ge.xlsx']

In [37]:
df = pd.read_excel(file_names[file_idx], header=1)
df

      P-value    T-value   Ze-value BN_Atlas_246_2mm
0    0.003709    2.91389    2.67744            OI110
1    0.005095    2.77943    2.56934            OI090
2    0.006181    2.69633    2.50162            OI002
3    0.008456    2.55953    2.38861            OI125
4    0.009320    2.51646    2.35265            OI012
5    0.009546    2.50584    2.34375            OI079
6    0.013041    2.36531    2.22498            OI133
7    0.015001    2.30109    2.17005            OI037
8    0.017427    2.23146    2.11006            OI173
9    0.017460    2.23056    2.10928            OI152
10   0.022046    2.12016    2.01321            OI126
11   0.027850    2.00681    1.91338            OI094
12   0.031156    1.95130    1.86407            OI171
13   0.031997    1.93801    1.85221            OI228
14   0.033605    1.91344    1.83027            OI167
15   0.038864    1.83962    1.76402            OI083
16   0.039446    1.83200    1.75715            OI073
17   0.040871    1.81372    1.74066            OI172
18   0.041126    1.81051    1.73776            OI132
19   0.041724    1.80305    1.73102            OI038
20   0.042808    1.78974    1.71899            OI104
21   0.048941    1.71950    1.65521            OI168

In [38]:
tValues = df.iloc[:,[2]]
#sample size: 30, number of parameters: 6(covarites + intercept)
effect_size = (tValues**2 / (tValues**2 + 6))**0.5
effect_size.columns = ['Effect size r']
effect_size

    Effect size r
0        0.737817
1        0.723786
2        0.714512
3        0.698154
4        0.692706
5        0.691340
6        0.672370
7        0.663121
8        0.652661
9        0.652523
10       0.634952
11       0.615587
12       0.605589
13       0.603141
14       0.598566
15       0.584389
16       0.582888
17       0.579259
18       0.578617
19       0.577121
20       0.574437
21       0.559892